{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/profile.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block body %}
{% if success is defined %}
  <div class="alert alert-success" role="alert">
    <div class="container">
      <strong>
        <p>{{ success	}}</p>
      </strong>
    </div>
  </div>
{% endif %}
{% if uploads is defined %}
  <div class="alert alert-danger" role="alert">
    <div class="container">
      <strong>
        <p>{{ uploads	}}</p>
      </strong>
    </div>
  </div>
{% endif %}
<div class="login-logo text-center my-5 mx-auto">
  <a href="/dashboard">
    <i class="fa-brands fa-spotify fa-flip-vertical fa-3xl"></i>
  </a>
</div>
<div class="card signup-card my-5 text-white bg-dark">
  <div class="card-body">
    <form class="row g-3 my-3 mx-auto" enctype="multipart/form-data" action="/uploadSong" method="post" id="signup-form">
      <div class="mx-auto col-10">
        <div class="row g-3 my-1 mx-auto">
          <div class="col-12 my-2">
            <label class="form-label" for="specificSizeInputName">Upload Song</label>
            <input type="file" class="form-control" id="upload" name="upload">
          </div>
          <div class="col-12 my-2">
            <label class="form-label" for="specificSizeInputName">Artist Name</label>
            <input type="text" class="form-control" id="artist" name="artist">
          </div>
          <div class="col-12 my-2">
            <label class="form-label" for="specificSizeInputName">Upload Album Art</label>
            <input type="file" class="form-control" id="thumb" name="thumb">
          </div>
        </div>
        <div class="col-12 mt-4 mb-0 text-center">
          <button type="submit" class="btn btn-light btn-lg" name="submit" id="submit">Upload Song</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
